params {
    help = false
    cluster = null
    
    // workflow flags
    download  = false
    reduce    = false

    // options
    vcs_dir       = null
    obsid         = null
    calid         = null
    offset        = null
    duration      = null
    low_chan      = null
    num_chan      = null
    targets       = null
    num_dl_jobs   = 1
    asvo_api_key  = "$MWA_ASVO_API_KEY"
    vdif          = false
    num_beams     = 4
    vcsbeam_wt    = 9 // in hours
    vcsbeam_forks = 1
}

profiles {
    garrawarla {
        includeConfig 'conf/garrawarla.config'
    }
    smart {
        low_chan = 109
        num_chan = 24
    }
}