manifest {
    name            = 'vcspipe'
    author          = """Christopher Lee"""
    homePage        = 'https://github.com/cplee1/vcspipe'
    description     = """A pipeline to process MWA VCS data"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>24.02.0-edge'
    version         = '1.0.0'
    doi             = ''
}

params {
    // Flags
    help      = false
    download  = false
    reduce    = false
    vdif      = false

    // Options
    vcs_dir       = null
    obsid         = null
    calid         = null
    offset        = null
    duration      = null
    low_chan      = null
    num_chan      = null
    targets       = null
    asvo_api_key  = null
    num_dl_jobs   = 1
    num_beams     = 4
    vcsbeam_wt    = 9 // in hours
    vcsbeam_forks = 1

    // Cluster name
    cluster = null
}

profiles {
    setonix {
        includeConfig 'conf/setonix.config'
    }
    smart {
        low_chan = 109
        num_chan = 24
    }
}