manifest {
    name            = 'vcspipe'
    author          = """Christopher Lee"""
    homePage        = 'https://github.com/cplee1/vcspipe'
    description     = """A pipeline to process MWA VCS data"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>24.02.0-edge'
    version         = '1.0.0'
    doi             = ''
}

params {
    timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    // Flags
    help      = false
    download  = false
    reduce    = false
    skip_bf   = false
    vdif      = false
    dspsr     = false
    pdmp      = false
    prepfold  = false
    fluxcal   = false
    rmsynth   = false

    // Options
    vcs_dir       = null
    obsid         = null
    calid         = null
    offset        = null
    duration      = null
    low_chan      = null
    num_chan      = null
    targets       = null
    asvo_api_key  = null
    num_dl_jobs   = 1
    num_beams     = null
    vcsbeam_forks = 1
    vcsbeam_wt    = 4 // hours
    tar_wt        = 2 // hours
    untar_wt      = 2 // hours
    dspsr_wt      = 12 // hours
    clfd_wt       = 1 // hours
    pav_wt        = 1 // hours
    pdmp_wt       = 4 // hours
    prepfold_wt   = 4 // hours
    fluxcal_wt    = 1 // hours
    rmsynth_wt    = 4 // hours
    cal_wt        = 1 // hours
    nbin          = 128
    nfine         = 128 // channels per coarse channel
    tint          = 10
    max_chans     = 96
    max_subints   = 64
    nsub          = 128
    npart         = 64

    // Cluster name
    cluster = null
}

profiles {
    // Cluster profiles
    setonix {
        includeConfig 'conf/setonix.config'
    }

    // Base profiles (use only one)
    psrfits {
        params.reduce = true
        params.vdif = false
        params.num_beams = 4
        params.nfine = 128
    }
    vdif {
        params.reduce = true
        params.vdif = true
        params.num_beams = 1
        params.nfine = 16
    }
    mspcensus {
        params.reduce = true
        params.vdif = true
        params.num_beams = 1
        params.dspsr = true
        params.pdmp = true
        params.nfine = 8
        params.nbin = 1024
        params.tint = 5
    }

    // Additional profiles
    smart {
        params.low_chan = 109
        params.num_chan = 24
    }

    // Complete profiles
    smartdr {
        includeConfig 'conf/setonix.config'
        params.reduce = true
        params.vdif = false
        params.num_beams = 4
        params.dspsr = true
        params.pdmp = true
        params.fluxcal = true
        params.rmsynth = true
        params.nfine = 128
        params.nbin = 256
        params.tint = 10
        params.low_chan = 109
        params.num_chan = 24
    }
}
