params {
    cluster = 'setonix'

    // Paths
    workDir = "/scratch/mwavcs/$USER/vcspipe_work"
    vcs_dir = "/scratch/mwavcs/$USER/vcs_downloads"
    pyvenv  = "$MYSOFTWARE/setonix/python/venvs/psr"

    // Versions
    python_ver      = '3.11.2'
    giant_squid_ver = '1.0.3'

    // Options
    asvo_api_key = "$MWA_ASVO_API_KEY"
}

executor {
    $slurm {
        // Number of tasks handled in parallel
        queueSize = 30
        // Job submission rate
        submitRateLimit = '20/1min'
        // How often to poll the job status
        pollInterval = 30.s
        // Naming scheme
        jobName = { "${task.process}_(${task.index})" }
    }
    $local {
        // Local jobs should not be resource intensive
        cpus   = 1
        memory = 8.GB
    }
}

process {
    cache = 'lenient'

    withLabel: cluster {
        executor = 'slurm'
    }

    withLabel: python {
        beforeScript = "module load python/${params.python_ver}; . ${params.pyvenv}/bin/activate"
    }

    withLabel: giantsquid {
        beforeScript = "export MWA_ASVO_API_KEY='${params.asvo_api_key}'; module load giant-squid/${params.giant_squid_ver}; alias jq=$MYSOFTWARE/misc/jq-linux-amd64"
    }

    withName: VCSBEAM {
        time = { Integer.valueOf(params.vcsbeam_wt) * 1.h }
        maxForks = { Integer.valueOf(params.vcsbeam_forks) }
        clusterOptions = { "-A mwavcs-gpu -P mwa-gpu -n ${params.num_chan} --ntasks-per-node=1 -c 1 --mem-per-cpu=8G --gres=gpu:1" }
    }
}
